*{
	margin:0px;
	padding:0px;
}

h1{
	text-align:center;
	font-size:40px;
	color:#c80d0a;
	background-color:;
	font-family:arial;
	font-weight:bold;
	line-height:200px;
	letter-spacing:-3px;
	text-transform:uppercase;
	text-decoration:none;
	font-style:italic;

}

h2{}

h3{}

h4{}

h5{}

h6{}

p{
	font-family:arial;
}

a{
	text-decoration:none;
	color:grey;
}

a:hover{
	text-decoration:underline;
	font-size:80px;
	color:yellow;
}


.top{
	padding:20px 5px 100px 30px;
	margin:20px;
	background:blue;
	border:4px solid #cdcdcd;
}

/* top, right, bottom, left*/




input:focus{
	color:blue2;
}




#id{

}

